body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'sans-serif';

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background: purple;
    background: linear-gradient(90deg, #06165f, #3c00bc 100%);
}

.header__logo {
    color: white;
}

@media screen and (min-width: 400px) {

    .header__logo {
        justify-content: space-between;
        padding: 0 20px;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
    max-width: 1200px;
}

@media screen and (min-width: 400px) {

    .header__inner {
        justify-content: space-between;
        padding: 0 20px;
    }
}

.header__btnGrp {}

.header__button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header__button--submit {
    background: orange;
}

.header__button--signIn {
    background: green;
}

/* general */
.mainContainer {
    max-width: 1200px;
    margin: auto;
}

/* search */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: lightgray
}

.search__input {
    padding: 8px 30px 5px 5px;
    border-radius: 20px;
    border: 1px solid lightgray;
    min-width: 200px;
}

.search__searchIcon {
    position: relative;
    right: 30px;
}

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
    ;
}

.faq__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
}

.faq__list-item {
    min-height: 8rem;
    border-radius: 5px;
    width: 300px;
    gap: 2rem;
    padding: 20px;
    border: 1px solid #ccc;
}

.footer {
    background: purple;
    background: linear-gradient(90deg, #06165f, #3c00bc 100%);
}

.footer__content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
    color: white
}